body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
  }
  html{
    font-size: 17px;
  }
 header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
   
}
  
 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    
}

li{
    display: inline;
    margin-right: 70px;
    float: left;
    list-style-type: none;
}
  .logo{
    padding: 40px;
  }
  .header-button{
    padding: 40px;
   
  }
  
  
  
  
 
  #left { 
    position: absolute;
    left: 0;
    top: 0; 
    width: 50%;
     }
   #right { 
     position: absolute;
     right: 0; 
     top: 0;
     width: 50%;
     } 
     .title-img{
       margin-top: 10rem;
       padding: 30px;
     }
     .title{
       padding: 30px;
     }
     .banner-img{
      
       margin-left: 80px;
       position: absolute;
left: 0px;
top: 0px;
z-index: 1;
     }
    
    .title-img{
      margin-left: 5px;
    }
    .title-text{
        margin-left: 4rem;
    }
  .first-text {
  margin-left: 35px;
}
.click{
  background: rgba(237, 251, 250, 1);
  width: 150px;
  height: 3rem;
  border-radius: 10px;
  border:0px;
  z-index: 3;
}

.header__list-active{
  background: rgba(1, 217, 139, 1);

}